{% extends "artworks/base.html" %}}
{% block content %}
    <!-- <p>Artworks:</p> -->
    <!-- <button type="button" class="btn">Base class</button> -->
    <div class="d-flex justify-content-end">
        <a href="{% url "artworks:new_artwork" %}"
           class="btn"
           style="font-size: 2rem"><i class="bi bi-plus"></i></a>
    </div>
    <div class="table-responsive">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th></th>
                    <th>Title</th>
                    <th>Artist</th>
                    <th>Medium</th>
                    <th>Dimensions</th>
                    <th>Year</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for artwork in artworks %}
                    <tr style="cursor: pointer"
                        onclick="window.location='{% url 'artworks:artwork_detail' artwork.pk %}';">
                        <td>
                            {% if artwork.image %}
                                <img src="{{ artwork.image.url }}"
                                     alt="{{ artwork.title }}"
                                     style="max-height:120px;
                                            object-fit:cover;
                                            display: block;
                                            margin-left: auto;
                                            margin-right: auto">
                            {% else %}
                                no image
                            {% endif %}
                        </td>
                        <td>{{ artwork.title }}</td>
                        <td>{{ artwork.artist }}</td>
                        <td>{{ artwork.medium }}</td>
                        <td>{{ artwork.dimensions }}</td>
                        <td>{{ artwork.year }}</td>
                        <td>
                            <a href="{% url 'artworks:edit_artwork' artwork.pk %}" class="btn "><i class="bi bi-pencil-fill"></i></a>
                            <form method="post"
                                  action="{% url 'artworks:delete_artwork' artwork.pk %}"
                                  style="display: inline"
                                  onsubmit="return confirm('are you sure you want to delete {{ artwork.title }}?');">
                                {% csrf_token %}
                                <button type="submit" class="btn" onclick="event.stopPropagation()">
                                    <i class="bi bi-trash-fill"></i>
                                </button>
                            </form>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock content %}
