{% extends "artworks/base.html" %}}
{% block content %}
    <!-- <p>Artworks:</p> -->
    <!-- <button type="button" class="btn">Base class</button> -->
    <div class="d-flex justify-content-end">
        <a href="{% url "artworks:new_artwork" %}"
           class="btn btn-primary rounded-circle"
           style="width: 50px;
                  height: 50px;
                  display: flex;
                  background-color: gray;
                  align-items: center;
                  font-size: 2rem;
                  border: 0;
                  justify-content: center">+</a>
    </div>
    <div class="table-responsive">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Image</th>
                    <th>Title</th>
                    <th>Artist</th>
                    <th>Year</th>
                    <th>Medium</th>
                    <th>Dimensions</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for artwork in artworks %}
                    <tr>
                        <td>
                            {% if artwork.image %}
                                <img src="{{ artwork.image.url }}"
                                     alt="{{ artwork.title }}"
                                     style="max-height:120px;
                                            object-fit:cover;
                                            display: block;
                                            margin-left: auto;
                                            margin-right: auto">
                            {% else %}
                                no image
                            {% endif %}
                        </td>
                        <td>{{ artwork.title }}</td>
                        <td>{{ artwork.artist }}</td>
                        <td>{{ artwork.year }}</td>
                        <td>{{ artwork.medium }}</td>
                        <td>{{ artwork.dimensions }}</td>
                        <td>
                            <button class="btn btn-sm ">
                            edit</a>
                            <form method="post"
                                  action="{% url 'artworks:delete_artwork' artwork.pk %}"
                                  style="display: inline"
                                  onsubmit="return confirm('are you sure you want to delete {{ artwork.title }}?');">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-sm ">delete</button>
                            </form>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock content %}
