{% extends "artworks/base.html" %}}
{% load django_bootstrap5 %}
{% block content %}
    <div class="d-flex justify-content-end">
        <a href="{% url "movies:new_movie" %}"
           class="btn btn-primary rounded-circle"
           style="width: 50px;
                  height: 50px;
                  display: flex;
                  background-color: gray;
                  align-items: center;
                  font-size: 2rem;
                  border: 0;
                  justify-content: center">+</a>
    </div>
    <div class="table-responsive">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Poster</th>
                    <th>Title</th>
                    <th>Director</th>
                    <th>Genre</th>
                    <th>Duration</th>
                    <th>Year</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for movie in movies %}
                    <tr style="cursor: pointer"
                        onclick="window.location='{% url 'movies:movie_details' movie.pk %}';">
                        <td>
                            {% if movie.poster %}
                                <img src="{{ movie.poster.url }}"
                                     alt="{{ movie.title }}"
                                     style="max-height:120px;
                                            object-fit:cover;
                                            display: block;
                                            margin-left: auto;
                                            margin-right: auto">
                            {% else %}
                                no image
                            {% endif %}
                        </td>
                        <td>{{ movie.title }}</td>
                        <td>{{ movie.director }}</td>
                        <td>{{ movie.genre }}</td>
                        <td>{{ movie.duration }}</td>
                        <td>{{ movie.year }}</td>
                        <td>
                            <a href="{% url 'movies:edit_movie' movie.pk %}"
                               class="btn btn-outline-dark">edit</a>
                            <form method="post"
                                  action="{% url 'movies:delete_movie' movie.pk %}"
                                  style="display: inline"
                                  onclick="event.stopPropagation()"
                                  onsubmit="return confirm('are you sure you want to delete {{ movie.title }}?');">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-outline-dark">delete</button>
                            </form>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock content %}
