{% extends "artworks/base.html" %}}
{% load django_bootstrap5 %}
{% block content %}
    <div class="d-flex justify-content-end">
        <a href="{% url "movies:new_movie" %}"
           class="btn"
           style="font-size: 2rem"><i class="bi bi-plus"></i></a>
    </div>
    <div class="table-responsive">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th></th>
                    <th>Title</th>
                    <th>Director</th>
                    <th>Genre</th>
                    <th>Duration</th>
                    <th>Year</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for movie in movies %}
                    <tr style="cursor: pointer"
                        onclick="window.location='{% url 'movies:movie_details' movie.pk %}';">
                        <td>
                            {% if movie.poster %}
                                <img src="{{ movie.poster.url }}"
                                     alt="{{ movie.title }}"
                                     style="max-height:120px;
                                            object-fit:cover;
                                            display: block;
                                            margin-left: auto;
                                            margin-right: auto">
                            {% else %}
                                no image
                            {% endif %}
                        </td>
                        <td>{{ movie.title }}</td>
                        <td>{{ movie.director }}</td>
                        <td>{{ movie.genre }}</td>
                        <td>{{ movie.duration }}</td>
                        <td>{{ movie.year }}</td>
                        <td>
                            <a href="{% url 'movies:edit_movie' movie.pk %}" class="btn "><i class="bi bi-pencil-fill"></i></a>
                            <form method="post"
                                  action="{% url 'movies:delete_movie' movie.pk %}"
                                  style="display: inline"
                                  onsubmit="return confirm('are you sure you want to delete {{ movie.title }}?');">
                                {% csrf_token %}
                                <button type="submit" class="btn" onclick="event.stopPropagation()">
                                    <i class="bi bi-trash-fill"></i>
                                </button>
                            </form>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock content %}
