{% extends "artworks/base.html" %}
{% load django_bootstrap5 %}
{% block content %}
    <div class="container mt-4">
        <div class="row">
            <div class="col mt-6">
                {% if book.cover %}
                    <img src="{{ book.cover.url }}"
                         alt="{{ book.title }}"
                         class="img-fluid shadow"
                         style="width: 100%;
                                max-height: 600px;
                                object-fit: contain">
                {% else %}
                    <div class="alert alert-secondary text-container"
                         style="text-align: center;
                                background-color: white">
                        <p>No cover available</p>
                    </div>
                {% endif %}
            </div>
            <div class="col-md-6">
                <h2>{{ book.title }}</h2>
                <table class="table-borderless">
                    <tr>
                        <th class="pe-3">Author</th>
                        <td>{{ book.author }}</td>
                    </tr>
                    <tr>
                        <th class="pe-3">Year</th>
                        <td>{{ book.year }}</td>
                    </tr>
                    <tr>
                        <th class="pe-3">ISBN</th>
                        <td>{{ book.isbn }}</td>
                    </tr>
                    <tr>
                        <th class="pe-3">Publisher</th>
                        <td>{{ book.publisher }}</td>
                    </tr>
                    <tr>
                        <th class="pe-3">Pages</th>
                        <td>{{ book.pages }}</td>
                    </tr>
                    <tr>
                        <th class="pe-3">Created:</th>
                        <td>{{ book.created_at|date:"d.m.Y H:i" }}</td>
                    </tr>
                    <tr>
                        <th class="pe-3">Last updated:</th>
                        <td>{{ book.updated_at|date:"d.m.Y H:i" }}</td>
                    </tr>
                </table>
                <div class="mt-4">
                    <a href="{% url 'books:edit_book' book.pk %}" class="btn "><i class="bi bi-pencil-fill"></i></a>
                    <form method="post"
                          action="{% url 'books:delete_book' book.pk %}"
                          style="display: inline"
                          onclick="event.stoppropagation()"
                          onsubmit="return confirm('are you sure you want to delete {{ book.title }}?');">
                        {% csrf_token %}
                        <button type="submit" class="btn">
                            <i class="bi bi-trash-fill"></i>
                        </button>
                    </form>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
