{% extends "artworks/base.html" %}}
{% load django_bootstrap5 %}
{% block content %}
    <!-- <p>Artworks:</p> -->
    <!-- <button type="button" class="btn">Base class</button> -->
    <div class="d-flex justify-content-end">
        <a href="{% url "books:new_book" %}"
           class="btn btn-primary rounded-circle"
           style="width: 50px;
                  height: 50px;
                  display: flex;
                  background-color: gray;
                  align-items: center;
                  font-size: 2rem;
                  border: 0;
                  justify-content: center">+</a>
    </div>
    <div class="table-responsive">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Cover</th>
                    <th>Title</th>
                    <th>Author</th>
                    <th>Year</th>
                    <th>Publisher</th>
                    <th>Created</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for book in books %}
                    <tr style="cursor: pointer"
                        onclick="window.location='{% url 'books:book_details' book.pk %}';">
                        <td>
                            {% if book.cover %}
                                <img src="{{ book.cover.url }}"
                                     alt="{{ book.title }}"
                                     style="max-height:120px;
                                            object-fit:cover;
                                            display: block;
                                            margin-left: auto;
                                            margin-right: auto">
                            {% else %}
                                no image
                            {% endif %}
                        </td>
                        <td>{{ book.title }}</td>
                        <td>{{ book.author }}</td>
                        <td>{{ book.year }}</td>
                        <td>{{ book.publisher }}</td>
                        <td>{{ book.created_at|date:"Y-m-d" }}</td>
                        <td>
                            <a href="{% url 'books:edit_book' book.pk %}"
                               class="btn btn-outline-dark">edit</a>
                            <form method="post"
                                  action="{% url 'books:delete_book' book.pk %}"
                                  style="display: inline"
                                  onsubmit="return confirm('are you sure you want to delete {{ book.title }}?');">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-outline-dark ">delete</button>
                            </form>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock content %}
