{% extends "artworks/base.html" %}}
{% load django_bootstrap5 %}
{% block content %}
    <!-- <p>Artworks:</p> -->
    <!-- <button type="button" class="btn">Base class</button> -->
    <div class="d-flex justify-content-end">
        <a href="{% url "artworks:new_artwork" %}"
           class="btn btn-primary rounded-circle"
           style="width: 50px;
                  height: 50px;
                  display: flex;
                  background-color: gray;
                  align-items: center;
                  font-size: 2rem;
                  border: 0;
                  justify-content: center">+</a>
    </div>
    <div class="table-responsive">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Cover</th>
                    <th>Title</th>
                    <th>Author</th>
                    <th>Year</th>
                    <th>ISBN</th>
                    <th>Publisher</th>
                    <th>Pages</th>
                    <th>Created</th>
                    <th>Modified</th>
                </tr>
            </thead>
            <tbody>
                {% for book in books %}
                    <tr>
                        <th>
                            {% if book.image %}
                                <img src="{{ book.image.url }}"
                                     alt="{{ book.title }}"
                                     style="max-height:120px;
                                            object-fit:cover;
                                            display: block;
                                            margin-left: auto;
                                            margin-right: auto">
                            {% else %}
                                no image
                            {% endif %}
                        </th>
                        <th>{{ book.title }}</th>
                        <th>{{ book.author }}</th>
                        <th>{{ book.year }}</th>
                        <th>{{ book.isbn }}</th>
                        <th>{{ book.publisher }}</th>
                        <th>{{ book.pages }}</th>
                        <th>{{ book.created_at }}</th>
                        <th>{{ book.updated_at }}</th>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock content %}
