<!doctype html>
<html lang="pl">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Artwork Archive</title>

  {% load django_bootstrap5 %}
  {% bootstrap_css %}
  {% bootstrap_javascript %}

</head>
<body>

  <nav class="navbar navbar-expand-md navbar-light bg-light mb-4 border"
       <div class="container-fluid">
         <a class="navbar-brand" href="{% url 'artworks:index' %}">
           Archive</a>

         <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
           data-bs-target="#navbarCollapse" aria-controls="navbarCollapse"
           aria-expanded="false" aria-label="Toggle navigation">
           <span class="navbar-toggler-icon"></span>
         </button>

         <div class="collapse cavbar-collapse" id="navbarCollapse">
           <ul class="navbar-nav me-auto mb-2 mb-md-0">
             <li class="nav-item">
               <a class="nav-link" href="{% url 'artworks:artworks' %}">
                 Artworks</a>
             </li>
           </ul>
        </div>
         </nav>

{% block content %} {% endblock content %}
</body> 
</html>
