{% extends "artworks/base.html" %}
{% load django_bootstrap5 %}
{% block content %}
    <div class="d-flex justify-content-center">
        {% if form.errors %}<div class="alert alert-danger">Username and password are incorrect</div>{% endif %}
        <form method="post"
              action="{% url "accounts:login" %}"
              class="row g-3 needs-validation"
              novalidate>
            {% csrf_token %}
            {% bootstrap_form form %}
            <button type="submit" class="btn btn-secondary">Login</button>
        </form>
    </div>
{% endblock content %}
